body {
    background-color: rgb(190, 175, 169);
  }





.flex-container {
    /* We first create a flex layout context */
    display: flex;
    
    /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: row wrap;
    
    /* Then we define how is distributed the remaining space */

   /* justify-content: space-around; */
    
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .flex-item {
    background: rgb(135, 216, 110);
    padding: 5px;
    width: 1100px;
    height: 100px;
    margin-top: 10px;
   
    line-height: 150px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: large;
    text-align: center;
  }
  .lable{
    color: rgb(0, 0, 0);
    font-size: xx-large;
    text-align: center;
    -ms-flex-item-align: center;
}
.button {
    background-color: #2d8ce6;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }